.container {
  @apply flex flex-col mx-8 my-4 space-y-8;
  @apply md:mx-32 md:my-8;

  a:last-child,
  button:last-child {
    @apply text-blue-500 flex text-right;

    &:hover,
    &:focus {
      @apply text-blue-600;
    }
  }
}

.scrollContainer {
  @apply pb-8 space-y-4;
}

.dropdown {
  @apply space-y-4;
  @apply md:space-y-0;
}

.dropdown > div {
  @apply flex;
  @apply md:items-center md:h-12;
}

.switchableInput {
  input {
    background-color: #414141;
  }
}

.toggle {
  @apply flex flex-row items-center space-x-4;
}
