@import "@/styles/theme.scss";

.container {
  @apply p-12 flex flex-col flex-1 justify-center items-center;

  h1 {
    @apply text-center mb-8;
  }

  button {
    @apply bg-red rounded w-full py-3 font-extrabold mt-8;
  }

  form {
    @apply space-y-4;

    input {
      background-color: #414141;
      min-width: 18rem;

      @media (min-width: 768px) {
        min-width: 24rem;
      }
    }
  }
}

.scrollContainer {
  @apply px-8 pb-8 overflow-visible;
  @apply md:relative md:py-14 md:px-16 md:text-sm;

  @media (min-width: 768px) {
    min-width: 36rem;
  }
}

.fieldsGroup {
  @apply space-y-4;
}

.passwordTooltip {
  @apply absolute z-20;
  @apply w-full bg-grey-dark bg-opacity-90 rounded border border-grey-light p-2 text-sm;

  li {
    @apply list-disc ml-3;
  }

  &::before {
    @apply absolute -top-2 arrow-up;

    content: "";
  }
}
