.container {
  @apply -ml-1 mr-3 h-5 w-5;

  animation: spin 0.4s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
