@import "@/styles/theme.scss";

.container {
  @apply h-56 w-1/5 space-y-2 bg-black rounded m-2 pb-2 overflow-hidden;

  transition: all 0.2s ease-in-out;

  h2 {
    @apply text-center font-bold text-lg;

    transition: all 0.2s ease-in-out;
  }

  img {
    @apply h-4/5 w-full object-fill;

    transition: all 0.2s ease-in-out;
  }
}

.container:hover {
  @apply h-72 pb-4;

  transform: scale(1.25);

  img {
    @apply h-3/5;
  }
}

.detailsContainer {
  @apply px-4 pt-1 space-y-1;
}

.commands {
  @apply justify-between;
}

.details {
  @apply justify-between text-sm;
}
