.title {
  @apply font-bold mb-7;

  font-size: 2rem;
}

.container {
  @apply px-8 pt-16;
  @apply md:relative md:py-14 md:px-16 md:text-sm;

  @media (min-width: 768px) {
    min-width: 26rem;
  }

  h1 {
    @apply title;
  }
}

.authForm {
  @apply mb-4 text-base;

  div {
    @apply mt-4;

    input {
      background-color: #414141;
    }
  }

  button {
    @apply bg-red rounded w-full py-3 font-extrabold mt-8;
  }
}

.switchAuthLink {
  @apply flex flex-row mt-4 font-bold text-sm;
  @apply md:flex-col;

  p {
    @apply text-grey-light mr-2;
  }
}
