@import "../styles/theme.scss";

.container {
  @apply flex-1 h-16 p-4 bg-black items-baseline justify-between;

  h1 {
    @apply font-bold text-red text-3xl;

    font-family: "Roboto Condensed", sans-serif;
  }

  .content {
    @apply flex-1 items-baseline space-x-6 font-bold text-sm;
  }

  .searchInput {
    @apply items-baseline space-x-1;

    input {
      @apply px-1 text-sm;
    }
  }

  ::-webkit-input-placeholder {
    font-weight: bold;
  }

  ::-moz-placeholder {
    font-weight: bold;
  }

  :-ms-input-placeholder {
    font-weight: bold;
  }

  ::placeholder {
    font-weight: bold;
  }
}

.frame {
  @apply relative;
  @apply flex items-center justify-center bg-red rounded h-8 w-8 cursor-pointer;

  span {
    @apply font-bold text-sm;
  }
}

.floater {
  @apply relative;
  @apply bg-black opacity-75 py-2 px-4 text-sm space-y-2 w-32 border border-grey-light;

  a {
    @apply font-bold hover:underline;
  }

  span {
    @apply hover:underline;
  }
}

.arrow {
  @apply absolute arrow-up -top-3 right-2;
}
