.container {
  @apply max-h-full overflow-hidden;
}

.scrollContainer {
  @apply px-8 pb-8;
  @apply md:relative md:py-14 md:px-16 md:text-sm;

  @media (min-width: theme("screens.md")) {
    min-width: 36rem;
  }
}

.authForm {
  @apply text-base space-y-4;

  .fieldsGroup {
    @apply space-y-4 mt-4;

    min-width: 18rem;
  }

  input {
    background-color: #414141;
  }

  button {
    @apply bg-red rounded w-full py-3 font-extrabold mt-8;
  }
}
