.container {
  @apply max-h-full overflow-hidden;
}

.scrollContainer {
  @apply px-8 pb-8;
  @apply md:relative md:py-14 md:px-16 md:text-sm;

  @media (min-width: 768px) {
    min-width: 36rem;
  }

  h1 {
    @apply font-bold text-3xl;
    @apply md:text-4xl;
  }
}

.authForm {
  @apply text-base space-y-4;

  .fieldsGroup {
    @apply space-y-4 mt-4;

    min-width: 18rem;
  }

  input {
    background-color: #414141;
  }

  button {
    @apply bg-red rounded w-full py-3 font-extrabold mt-8;
  }
}

.OAuthLinks {
  @apply mt-4 space-y-4;
}

.switchAuthLink {
  @apply flex flex-row mt-4 font-bold text-sm;
  @apply md:flex-col;

  p {
    @apply text-grey-light mr-2;
  }
}
