.container {
  @apply relative py-14 px-16 text-sm;

  min-width: 26rem;

  h1 {
    @apply font-bold mb-7;

    font-size: 2rem;
  }
}

.loginForm {
  @apply mb-4 text-base;

  div {
    @apply mt-4;

    input {
      background-color: #414141;
    }
  }

  button {
    @apply bg-red rounded w-full py-3 font-extrabold mt-8 text-base;
  }
}

.registerLink {
  @apply mt-4 font-bold text-sm;

  p {
    @apply text-grey-light;
  }
}
