.layout {
  @apply h-screen w-screen bg-black;
  @apply md:justify-center md:items-center;

  @media (min-width: 768px) {
    background: no-repeat 100% url("/img/landing.jpg");

    &::before {
      @apply absolute z-10 inset-0 bg-black opacity-50;

      content: "";
    }
  }
}

.brandLogo {
  @apply absolute top-4 left-4 z-20 h-8 w-28;
  @apply md:h-14 md:w-52;

  background: no-repeat center/100% url("/img/hypertube.png");
}

.container {
  @apply md:z-10 md:rounded;

  @media (min-width: 768px) {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
