.layout {
  @apply h-screen w-screen bg-black;
  @apply md:justify-center md:items-center;

  @media (min-width: theme("screens.md")) {
    background: no-repeat 100% url("/img/landing.jpg");

    &::before {
      @apply absolute z-10 inset-0 bg-black opacity-50;

      content: "";
    }
  }
}

.header {
  @apply flex flex-row w-screen justify-between items-center p-4 z-10 bg-black bg-opacity-100;
  @apply md:absolute md:top-0 md:py-0 md:px-4 md:bg-opacity-0;
}

.brandLogo {
  @apply h-8 w-28;
  @apply md:h-14 md:w-52;

  background: no-repeat center/100% url("/img/hypertube.png");
}

.container {
  @apply overflow-hidden;
  @apply md:z-10 md:rounded;

  @media (min-width: theme("screens.md")) {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
