@import "react-perfect-scrollbar/dist/css/styles.css";

.body {
  @apply h-screen text-white p-0 m-0;

  font-family: "Roboto", sans-serif;
}

.arrow-up {
  @apply w-0 h-0;

  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid white;
}

.mobileView {
  @apply flex md:hidden;
}

.desktopView {
  @apply hidden md:flex;
}

.ps__rail-y {
  opacity: 0.6;
}
